/* ABOUT PAGE STYLING */
.about-container{
  display: flex;
  align-items: center;
  column-gap: 2em;
}

.about-text{
  width: 100%;
}

.about-image img{
  margin-top: 2em;
  max-width: 20em;
  border-radius: 50%;
}

@media screen and (max-width: 800px){
  .about-container{
    flex-direction: column;
  }
}