/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

body {
  background-color: #faf9ed;
  color: #3f3f37;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  padding: 2rem;
}

section {
  margin-top: 1rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #3f3f37;
}

/* HEADER STYLING */
h1 {
  font-family: "Moret";
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 0;
}

h2 {
  font-family: "Moret";
  font-weight: 400;
  font-size: 1.75rem;
  margin-top: 1rem;
  margin-bottom: .8rem;
  color: #3f3f37;
}

h3 {
  font-weight: 600;
  margin-top: 1rem;
}

h4 {
  margin-top: 2em;
  font-weight: 400;
  color: #3f3f37;
}

h5 {
  font-weight: 400;
  font-style: oblique;
  margin-top: 0;
}

p {
  margin-top: 0;
  max-width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

/* NAV STYLING */

nav {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
  flex-direction: row;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  font-size: 0.8em;
  font-weight: 400;
  color: #3f3f37;
  text-decoration: none;
  transition: color 0.2s;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #cf473e;
}

/* In text link styling */

p a,
h5 a {
  color: #3f3f37;
  transition: color 0.2s;
}

p a:hover,
h5 a:hover {
  color: #cf473e;
}

p a:focus,
h5 a:focus {
  border: 1px solid #cf473e;
  padding: 5px;
  border-radius: 5px;
}

/* Img link styling - Adapted from ChatGPT */

a img {
  transition: transform 0.2s;
  width: 10rem;
  height: auto;
}

a:hover img {
  transform: scale(1.05);
}

code {
  background-color: #dbd8c0;
  padding: 0.5rem;
  display: block;
  margin-bottom: 1rem;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: #3f3f37;
  background-color: rgb(50, 50, 50);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-nav:hover,
.button-nav:focus {
  background-color: rgb(200, 200, 200);
}

/* Styling for the review forms - Adapted from Shay Howe */

*:before,
*:after {
  box-sizing: border-box;
}
form {
  border: 1px solid #84bfb5;
  border-radius: 5px;
  margin: 0;
  font: .9em "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 240px;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input,
.btn {
  border-radius: 5px;
  font: .9em "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.25rem;
}
.review-text {
  padding: 20px 20px 0 20px;
}
.review-text label {
  display: block;
  font-weight: normal;
  margin-bottom: 0.2em;
}
.review-text input,
textarea {
  border: 1px solid #84bfb5;
  padding: 6px;
  margin-top: .5em;
  margin-bottom: 1em;
}
.review-action {
  display: flex;
  gap: 10px;
  background: #84bfb5;
  padding: 20px;
  margin-top: 1em;
}
.review-action .btn {
  background: #3f3f37;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #84bfb5;
  float: left;
  padding: 8px 16px;
  transition: background 0.2s;
}

.btn:hover {
  border: 1px solid #84bfb5;
  background: #cf473e;
}
.review-action label {
  color: #84bfb5;
  font-size: 12px;
  float: left;
  margin: 10px 0 0 20px;
}

/* Product Styling */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -2rem;
}

.product {
  box-sizing: border-box;
  margin: 2rem;
}

/* CART ITEM STYLING */
.cart-item {
  display: flex;
  justify-content:flex-start;
  align-items: baseline;
  box-sizing: border-box;
}

.cart-item p, .cart-item h4{
  margin-left: 2em;
}

.cart-item img {
  margin-top: 1em;
  width: 5em;
  height: auto;
  margin-bottom: 1em;
}

/* ABOUT PAGE STYLING */
.about-image img{
  margin-top: 1rem;
  max-width: 100%;
  height: auto;
}

/* 
  TEXT ELEMENTS -------------------
*/

/* 
  COMBINED ELEMENTS -------------------
*/
